<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>hello world</h3>


    <form  id="form">

        <input type="text" id="message">

    </form>


    <div></div>

    <!-- {% for post in posts %} -->

    <div style="margin-top: 1%;" class="messages">{{post.content}}</div>
    <!-- {% endfor %} -->


    <script type="text/javascript">

        let postList = document.querySelector('.messages')
    
        let url = `ws://${window.location.host}/ws/socket-server/`

        const blogSocket = new WebSocket(url)

        


        blogSocket.onmessage = function(e){
            let data = JSON.parse(e.data)

            console.log('Data:', data)

            if(data.type === 'blog'){

                let output = ''

                output+=`<div><p>${data.message}</p></div>`

                // let messages = document.getElementById('messages')

                

                // messages.insertAdjacentHTML('beforeend', `<div>
                //                         <p>${data.message}</p>
                //                     </div>`)
                //  messages.insertAdjacentHTML(${data.message}`div`)

                postList.innerHTML = output;
            }
        }

        let form = document.getElementById('form')

        form.addEventListener('submit', (e)=> {
            e.preventDefault()

            let message = e.target.message.value
            blogSocket.send(JSON.stringify({
                'message':message
            }))

            form.reset()
        })
    
    </script>
</body>
</html>